@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #cc0000;
  font-family: "OpenSansRegular", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
}
.main-content_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content_logo .responsive {
  object-fit: cover;
  max-width: 100%;
}
.main-content_text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: large;
}
.main-content_input {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content_input div {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  width: 50%;
  height: 30px;
}
.main-content_input div svg {
  padding: 3px;
}
.main-content_input div input {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}
.main-content_input button {
  background: #7a7a7a;
  height: 32px;
  margin-left: 1rem;
  border-radius: 5px;
  width: 16%;
  color: #ffffff;
  text-align: center;
}
.main-content_examples {
  padding: 0.5rem;
  display: flex;
  font-size: small;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.main-content_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.main-content_banner img {
  width: 70%;
  max-width: 100%;
}
.main-content_footer {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: column;
  left: 0;
  right: 0;
  color: #ffffff;
  align-items: center;
}
.main-content_footer div {
  width: 10%;
  flex: 1;
}
.main-content_footer .agreement-open {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.main-content_footer .agreement-open p {
  margin: 0;
}
.main-content_footer .agreement-open .down-arrow {
  width: 44px;
  height: 17px;
}
.main-content .agreement-text-block {
  top: 0;
  display: none;
  background: #ffffff;
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 4;
}
.main-content .agreement-text-block .agreement-text-block-close {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 5px;
  right: 0;
  margin-right: 5px;
  cursor: pointer;
  fill: #000000 !important;
}
.main-content .agreement-text-block .agreement-text {
  text-align: justify;
  padding: 5px 30px 0 10px;
}
.main-content .agreement-text-block .agreement-text h1 {
  text-align: center;
  font-family: "OpenSansRegular", sans-serif;
  font-size: x-large;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .main .main-content {
    width: 100%;
    height: 100%;
  }
  .main .main-content_text {
    font-size: 40px;
  }
  .main .main-content_input {
    padding-top: 2rem;
  }
  .main .main-content_input div {
    font-size: large;
    border-radius: 5px;
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
